<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Purchase Orders</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToFilter()">
        <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Search PO/ASN/DEL/GTN" showCancelButton="focus"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let x of arr" (click)="goToEdit(x.purchase_type)" lines="none" class="ion-padding">
    <ion-item>
      <h5><b>{{x.purchase_id}}</b></h5>
      <ion-button *ngIf="x.purchase_type=='LN'" fill="outline" slot="end" color="warning">{{x.purchase_type_desc}}</ion-button>
      <ion-button *ngIf="x.purchase_type=='TR'" fill="outline" slot="end" color="tertiary">{{x.purchase_type_desc}}</ion-button>
    </ion-item>
    <ion-card-content>
      <h3>{{x.subtext}}</h3>
      <p>Shipping Date : {{x.shipping_date}}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="schedule">
          <ion-icon name="bag"></ion-icon>
          <ion-label>Open</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="goToScan()">
          <ion-icon name="add-circle" style="font-size: 15vw;"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="map">
          <ion-icon name="bag-check"></ion-icon>
          <ion-label>Posted</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
