<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>PO Details Edit </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label position="stacked"><b>Purchase Order</b></ion-label>
          <p>PO123456778</p>
        </ion-col>
        <ion-col>
          <ion-label position="stacked"><b>Vendor/DC</b></ion-label>
          <p>ABC Company</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label position="stacked"><b>Receiving No</b></ion-label>
          <p>124324</p>
        </ion-col>
        <ion-col>
          <ion-label position="stacked"><b>Received Date</b></ion-label>
          <p>20th January 2021</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label><b>Store Details</b></ion-label>
          <p>S420 - Soho NY - New York, USA</p>
        </ion-col>
        <ion-col class="d-flex flex-column-reverse align-items-end">
          <ion-icon name="cube-outline" style="font-size: 60px;"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ag-grid-angular style="width: 100%; height: 100%;padding: 3vw;" class="ag-theme-balham" [rowData]="rowData" [rowHeight]="40"
    [columnDefs]="columnDefs" [frameworkComponents]="frameworkComponents" [defaultColDef]="defaultColDef">
  </ag-grid-angular>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="schedule">
          <ion-label>SAVE</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="map">
          <ion-label>POST</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
