.sales-card {
  padding: 0px !important;
  border-left-color: var(--ion-color-primary);
    border-left-width: 4px !important;
    border-left-style: solid;
}

.category-card {
  padding: 0px !important;
  border-left-color: var(--ion-color-tertiary);
    border-left-width: 4px !important;
    border-left-style: solid;
}

.footfall-card {
  padding: 0px !important;
  border-left-color: var(--ion-color-warning);
    border-left-width: 4px !important;
    border-left-style: solid;
}

.po-card {
  padding: 0px !important;
  border-left-color: var(--ion-color-medium);
    border-left-width: 4px !important;
    border-left-style: solid;
}

