:root {
    --ion-color-primary: #205D96;
    --ion-color-primary-rgb: 32,93,150;
    --ion-color-primary-contrast: #FFFFFF;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #1C5284;
    --ion-color-primary-tint: #366DA1;
    --ion-color-secondary: #D5E5EC;
    --ion-color-secondary-rgb: 213,229,236;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0,0,0;
    --ion-color-secondary-shade: #BBCAD0;
    --ion-color-secondary-tint: #D9E8EE;
    --ion-color-tertiary: #A24444;
    --ion-color-tertiary-rgb: 162,68,68;
    --ion-color-tertiary-contrast: #FFFFFF;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #8F3C3C;
    --ion-color-tertiary-tint: #AB5757;
    --ion-color-success: #8FE0AF;
    --ion-color-success-rgb: 143,224,175;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #7EC59A;
    --ion-color-success-tint: #9AE3B7;
    --ion-color-warning: #F5BC00;
    --ion-color-warning-rgb: 245,188,0;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #D8A500;
    --ion-color-warning-tint: #F6C31A;
    --ion-color-danger: #EA6274;
    --ion-color-danger-rgb: 234,98,116;
    --ion-color-danger-contrast: #000000;
    --ion-color-danger-contrast-rgb: 0,0,0;
    --ion-color-danger-shade: #CE5666;
    --ion-color-danger-tint: #EC7282;
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34,36,40;
    --ion-color-dark-contrast: #FFFFFF;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #1E2023;
    --ion-color-dark-tint: #383A3E;
    --ion-color-medium: #92949C;
    --ion-color-medium-rgb: 146,148,156;
    --ion-color-medium-contrast: #FFFFFF;
    --ion-color-medium-contrast-rgb: 255,255,255;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9D9FA6;
    --ion-color-light: #F4F5F8;
    --ion-color-light-rgb: 244,245,248;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #D7D8DA;
    --ion-color-light-tint: #F5F6F9;
  }