<ion-content class="ion-padding" class="transparent-header">
  <form #LoginForm="ngForm">
    <div class="icon-cart">
      <img src="assets/pga_logo.png" style="width: 40%;">
      <img src="assets/logo_blue_yellow.png" style="width: 80%;">
    </div>
    <br>
    <div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-input placeholder="Username" expand="block" class="login-input"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-input placeholder="Password" expand="block" class="login-input"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row  class="ion-padding-top ion-padding-horizontal">
          <ion-col>
            <ion-button expand="block" color="loginbtn" (click)="onClick()">
              LOGIN
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="ion-text-center">
              <ion-text color="medium">(OR)</ion-text>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-padding-horizontal">
          <ion-col>
            <ion-button expand="block" color="logingoogle" (click)="onClick()">
              <ion-icon name="logo-google"></ion-icon> &nbsp; LOGIN USING GOOGLE
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </form>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <ion-text color="medium">Powered by GroupSoft US Inc</ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
