<ion-app>
  <ion-split-pane contentId="main-content" when="xl">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content class="menu-bar">
        <div class="options">
          <ion-grid class="ion-no-padding">
            <ion-row>
              <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/Raster_1.png">
                </ion-avatar>
                <ion-avatar slot="end">
                  <ion-menu-button></ion-menu-button>
                </ion-avatar>
                <ion-label>
                  <h3>John Doe</h3>
                  <p>Warehouse Manager</p>
                </ion-label>
              </ion-item>
            </ion-row>
          </ion-grid>
        </div>
        <ion-list id="menu-list">
          <!-- <ion-list-header>GroupSoft</ion-list-header>
          <ion-note>ankit.singh@groupsoftus.com</ion-note> -->
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/none']" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-label color="primary"><b>Merchandise 360</b></ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/none']" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-label color="primary"><b>Store 360</b></ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/none']" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-label color="primary"><b>Retail Calendar</b></ion-label>
            </ion-item>
          </ion-menu-toggle>
          <hr>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="forward" [routerLink]="[p.url]" lines="none" detail="false"
              routerLinkActive="selected">
              <!-- <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon> -->
              <ion-label color="primary"><b>{{ p.title }}</b></ion-label>
            </ion-item>
          </ion-menu-toggle>
          <hr>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/none']" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-label><b>Settings</b></ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/shikha1']" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-label><b>Profile</b></ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/login']" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-label><b>Logout</b></ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
